<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Play as One</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<div id="amount_of_users"></div>
<h1 class="heading">Hello, and welcome!</h1>
<body>
    <img id="X_button"  src="/static/images/X_button.png"/>
    <form id="button_layout">
        <input class="X_button" type="button" value="new button"/>
    </form>
</body>

</html>
